* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
}

/* NavBar */
.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: #ffadbc;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav li.active {
  background-color: #ff7b9c;
  border-radius: 10px;
}

.nav li:hover {
  background-color: #ff7b9c;
  border-radius: 10px;

}

.site-title img{
  width: 200px;
}

/* About Page */
.about-container {
  text-align: left;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.about-container h1 {
  margin-top: 0;
}

.about-container p {
  line-height: 1.6;
}

.about-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.members img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.member-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Contact Page */
.contact-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  background-color: #ffebd6;
  border-radius: 10px;
}

.contact-form {
  padding: 20px;
  background-color: #ff7b9c;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;

}

.contact-form button {
  padding: 10px 20px;
  background-color: #ffebd6;
  color: #ff7b9c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



/* Blog */

.article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 60px;
}

.article {
  height: 400px;
  margin: 60px;
  background-color: #ffebd6;
  border-radius: 10px;
}

.article-detail {
  border-radius: 10px;
  background-color: #ffebd6;
  min-height: 100px;
  justify-content: space-between;
  align-items: stretch;
  text-align: top;
  color: rgb(0, 0, 0);
  position: fixed;
  height: 80vh;
  width: 80vw;
  left: calc(50% - 40vw);
  overflow-y: auto;
  box-shadow: #736b6b 0px 0px 10px;
}

.article-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  width: 300px;
}


.article img {
  width: 300px;
  max-height: 200px;
  margin: 10px;
  border-radius: 10px;
  background-size: cover; /* Cover the entire container with the background image */
  background-position: center; /* Center the background image */
  overflow: hidden; /* Hide any overflow beyond the container */
  cursor: pointer;
}

.article-close {
  position: absolute;
  top: 110px;
  right: 20px;
  background-color: #ff7b9c;
  color: white;
  padding: 5px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.banner p{
  padding-left: 40px;
  padding-right: 40px;
}

/* Home */

/* Slide show */

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide img {
  width: 800px
}

.slideshow-container {
  position: relative;

}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;

}

.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(86, 114, 138, 0.8);
  z-index: 100; /* Make buttons appear above the image */
}

.prev {
  left: 25%;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 25%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(85, 22, 62, 0.8);
  cursor: pointer;
}

.process-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.process {
  padding-left: 300px;
  padding-right: 300px;
  text-align: left;
}
.content {
  display: flex;
  align-items: stretch;
  justify-content: center; 
}

.content img {
  margin-top: 25px;
  margin-right: 25px;
  width: 450px;
  object-fit: cover;
  height: 100%; 
}
.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

/* Footer */

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #ffadbc;
  color: #ffffff;

}
.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.socials {
  display: inline-block;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

.socials img {
  width: 40px;
}

.socials ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.logo img{
  width: 200px;
}

.space {
  margin: 400px;
}

/* Responsive styles */
@media screen and (max-width: 1025px) {
  .space {
    margin: 650px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }

  .article-container {
    margin: 0;
  }

  .prev {
    left: 10%;
    border-radius: 3px 0 0 3px;
  }
  
  .next {
    right: 10%;
    border-radius: 3px 0 0 3px;
  }
}

@media screen and (max-width: 431px) {

  .nav {
    flex-direction: column;
    gap: 0rem;
    max-width: 430px;
    align-items: center;
    justify-content: center;
  }

  .nav ul {
    font-size: 30px;
    text-align: center;
  }

  .site-title img {
    width: 200px;
  }

  .container {
    margin: 0;
  }

  .socials ul {
    display: block;
    gap: 0.5rem;
  }

  .logo img {
    width: 200px; /* adjust as needed */
  }

  .article {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .article-container {
    margin: 0;
  }

  .process-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
  }

  .process {
    padding: 10px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  .slide img {
    width: 100%;
  }

  .prev {
    left: 5%;
    border-radius: 3px 0 0 3px;
  }
  
  .next {
    right: 5%;
    border-radius: 3px 0 0 3px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #ffebd6;
    border-radius: 10px;
  }


}
